<footer class="footer bg-warning py-10">
<p class="d-flex justify-content-center"><a href="#" class="logo-footer"><img src="../assets/images/logo-footer.png" alt=""></a></p>
<p class="copyright text-center mt-2 mb-5 b2 lh-1">© 2023 芭比Q 版權所有。</p>
<p class="text-center fw-bold b1 mb-2 lh-1">競選總部</p>
<p class="address text-center b2 lh-xs mb-2">888-888 粉紅區，<br> 芭比Q大道88號1樓</p>
<p class="tel text-center b2 lh-xs mb-2">電話：(02) 888-8888</p>
<p class="email-footer text-center b2 lh-xs">電子郵件地址：barbieq@bbq.com.tw</p>
</footer>