<footer class="footer bg-warning ">
<p class="d-flex justify-content-center"><a href="#" class="logo-footer"><img src="../assets/images/logo-footer.png" alt=""></a></p>
<p class="copyright text-center">© 2023 芭比Q 版權所有。</p>
<p class="text-center">競選總部</p>
<p class="address text-center">888-888 粉紅區，<br> 芭比Q大道88號1樓</p>
<p class="tel text-center">電話：(02) 888-8888</p>
<p class="email-footer text-center">電子郵件地址：barbieq@bbq.com.tw</p>
</footer>