<header class="header fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-warning px-0 px-lg-7">
    <div class="container-fluid px-0 px-lg-3">
      <a class="navbar-brand logo" href="#"></a>
      <a class="mobile-donate-link d-lg-none position-absolute" href="#"><img src="../assets/images/donate-nav.svg" alt=""></a>
      <div class="menu-btn navbar-toggler me-6" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <div class="menu-btn-burger"></div>
      </div>
      <div class="collapse navbar-collapse d-lg-flex justify-content-end me-0 me-lg-6" id="navbarNav">
        <ul class="navbar-nav font-family-myoyo-hk">
          <li class="nav-item">
            <a class="nav-link b2 text-center" href="#" data-id="about-me">關於我</a>
          </li>
          <li class="nav-item">
            <a class="nav-link b2 text-center" href="#" data-id="news">最新消息</a>
          </li>
          <li class="nav-item">
            <a class="nav-link b2 text-center" href="#" data-id="policy">政策建議</a>
          </li>
          <li class="nav-item">
            <a class="nav-link b2 text-center" href="#" data-id="donate">小物抖內</a>
          </li>
        </ul>
      </div>
      <ul class="social-media-list d-lg-flex d-none justify-content-between mb-0 list-unstyled">
        <li class="social-media-list-item"><a class="social-media-list-item-link d-inline-block" href="#"><img src="../assets/images/email.svg" alt=""></a></li>
        <li class="social-media-list-item"><a class="social-media-list-item-link d-inline-block" href="#"><img src="../assets/images/youtube.svg" alt=""></a></li>
        <li class="social-media-list-item"><a class="social-media-list-item-link d-inline-block" href="#"><img src="../assets/images/line.svg" alt=""></a></li>
        <li class="social-media-list-item"><a class="social-media-list-item-link d-inline-block" href="#"><img src="../assets/images/ig.svg" alt=""></a></li>
        <li class="social-media-list-item"><a class="social-media-list-item-link d-inline-block" href="#"><img src="../assets/images/fb.svg" alt=""></a></li>
        <li class="social-media-list-item"><a class="social-media-list-item-link d-inline-block" href="#"><img src="../assets/images/twitter.svg" alt=""></a></li>
      </ul>
    </div>
  </nav>
</header>