<header class="">
  <!-- <nav class="navbar navbar-expand-lg bg-warning px-7">
    <div class="container-fluid">
      <a href="#" class="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav font-family-myoyo-hk me-6">
          <a class="nav-link b2" aria-current="page" href="#">關於我</a>
          <a class="nav-link b2" href="#">最新消息</a>
          <a class="nav-link b2" href="#">政策建議</a>
          <a class="nav-link b2" href="#">小物抖內</a>
        </div>
      </div>
      <ul class="social-media-list d-md-flex d-none justify-content-between mb-0 list-unstyled">
        <li class="social-media-list-item"><a class="social-media-list-item-link d-inline-block" href="#"><img src="../assets/images/email.svg" alt=""></a></li>
        <li class="social-media-list-item"><a class="social-media-list-item-link d-inline-block" href="#"><img src="../assets/images/youtube.svg" alt=""></a></li>
        <li class="social-media-list-item"><a class="social-media-list-item-link d-inline-block" href="#"><img src="../assets/images/line.svg" alt=""></a></li>
        <li class="social-media-list-item"><a class="social-media-list-item-link d-inline-block" href="#"><img src="../assets/images/ig.svg" alt=""></a></li>
        <li class="social-media-list-item"><a class="social-media-list-item-link d-inline-block" href="#"><img src="../assets/images/fb.svg" alt=""></a></li>
        <li class="social-media-list-item"><a class="social-media-list-item-link d-inline-block" href="#"><img src="../assets/images/twitter.svg" alt=""></a></li>
      </ul>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-warning px-0 px-lg-7">
    <div class="container-fluid px-0 px-lg-3 position-relative">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <a class="navbar-brand logo" href="#"></a>
      <a class="mobile-donate-link d-md-none position-absolute" href="#"><img src="../assets/images/donate-nav.svg" alt=""></a>
      <button class="navbar-toggler me-7" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <a href="#" class="img"><img src="../assets/images/hamburger-menu.svg" alt=""></a>
      </button>
      <div class="collapse navbar-collapse d-md-flex justify-content-end me-0 me-lg-6" id="navbarNav">
        <ul class="navbar-nav font-family-myoyo-hk">
          <li class="nav-item">
            <a class="nav-link b2 text-center" href="#">關於我</a>
          </li>
          <li class="nav-item">
            <a class="nav-link b2 text-center" href="#">最新消息</a>
          </li>
          <li class="nav-item">
            <a class="nav-link b2 text-center" href="#">政策建議</a>
          </li>
          <li class="nav-item">
            <a class="nav-link b2 text-center" href="#">小物抖內</a>
          </li>
        </ul>
      </div>
      <ul class="social-media-list d-md-flex d-none justify-content-between mb-0 list-unstyled">
        <li class="social-media-list-item"><a class="social-media-list-item-link d-inline-block" href="#"><img src="../assets/images/email.svg" alt=""></a></li>
        <li class="social-media-list-item"><a class="social-media-list-item-link d-inline-block" href="#"><img src="../assets/images/youtube.svg" alt=""></a></li>
        <li class="social-media-list-item"><a class="social-media-list-item-link d-inline-block" href="#"><img src="../assets/images/line.svg" alt=""></a></li>
        <li class="social-media-list-item"><a class="social-media-list-item-link d-inline-block" href="#"><img src="../assets/images/ig.svg" alt=""></a></li>
        <li class="social-media-list-item"><a class="social-media-list-item-link d-inline-block" href="#"><img src="../assets/images/fb.svg" alt=""></a></li>
        <li class="social-media-list-item"><a class="social-media-list-item-link d-inline-block" href="#"><img src="../assets/images/twitter.svg" alt=""></a></li>
      </ul>
    </div>
  </nav>
</header>