.font-family-noto{
  font-family: 'Noto Sans TC', sans-serif;
}

.font-family-myoyo-hk {
  font-family: 'MYoyoHK-Medium', cursive;
}

.font-family-bartex {
  font-family: 'Bartex', sans-serif;
}

.font-family-hanzipen {
  font-family: 'HanziPen TC';
}