<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.cdnfonts.com/css/bartex" rel="stylesheet" />
    <script
      src="https://c.webfontfree.com/c.js?f=MYoyoHK-Medium"
      type="text/javascript"
    ></script>
  </head>

  <body>
    <%- include('./layout/header'); -%>
    <!-- <h2 class=""><span
        class="bartex-title font-family-bartex text-white">News</span>
      <span class="">最新消息</span></h2> -->
    <div class="wrap">
      <section class="banner"></section>
      <div class="container pt-30">
        <!-- About Start -->
        <section class="about-me mb-30">
          <h1 class="about-me-title text-center mb-10">
            <span class="head1-l font-family-bartex about-me-title-en me-3"
              >About</span
            ><span class="about-me-title-tw head1-m font-family-noto fw-bold"
              >關於我</span
            >
          </h1>
          <div class="about-me-content d-flex px-4 px-md-10 px-lg-14 py-7">
            <div class="me-20">
              <img
                src="../assets/images/time_book.png"
                alt=""
                class="about-me-content-photo"
              />
              <div class="mt-3">
                <p class="font-family-noto text-primary b1 fw-bold mb-3">
                  時代雜誌・最具影響力女性
                </p>
                <p class="font-family-noto b2">
                  芭比Ｑ，做過各式各樣的職業，<br />
                  帶領時尚，也見證過歷史興衰，<br />
                  甚至出演電影，票房超過14億，<br />
                  成為全球最具影響力女性。
                </p>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-between">
              <p class="font-family-hanzipen b1-l">台灣，是我的母國，</p>
              <p class="font-family-hanzipen b1-l">
                我希望在這片美好的土地上，
              </p>
              <p class="font-family-hanzipen b1-l">
                推動更完善的<span class="text-primary head2">性別平權政策</span>
              </p>
              <p class="font-family-hanzipen b1-l">
                並致力發展<span class="text-primary head2">台灣觀光</span>
              </p>
              <p class="font-family-hanzipen b1-l">
                為台灣的經濟帶來巨大效益，實現<span class="text-primary head2"
                  >粉紅力量</span
                >
              </p>
              <p class="font-family-hanzipen b1-l">
                支持每個人都可以有自己的夢想，成就無限可能，
              </p>
              <p class="font-family-hanzipen b1-l">
                讓台灣成為最美好的<span class="text-primary head2"
                  >Barbie land</span
                >
              </p>
            </div>
          </div>
        </section>
        <!-- About End -->
        <!-- News Start -->
        <section class="news pb-30">
          <h1 class="news-title text-center mb-10">
            <span class="head1-l font-family-bartex about-me-title-en me-3"
              >News</span
            >
            <span class="about-me-title-tw head1-m font-family-noto fw-bold"
              >最新消息</span
            >
          </h1>
          <ul class="news-list list-unstyled d-flex flex-lg-row flex-column justify-content-between mb-10">
            <li class="news-list-item">
              <div class="card">
                <div class="card-header d-flex">
                  <a
                    href="#"
                    class="avatar-wrap d-flex justify-content-center align-items-center rounded-circle me-2"
                  >
                    <img
                      class="news-list-item-avatar rounded-circle"
                      src="../assets/images/avatar_barbie.png"
                      alt=""
                    />
                  </a>
                  <div class="me-auto">
                    <p class="fw-bold b4">
                      <a class="text-white" href="#">BarbieＱ芭比Ｑ・</a
                      >10月20日
                    </p>
                    <p class="b4">2023立委候選人</p>
                  </div>
                  <a href="#"
                    ><img class="" src="../assets/images/dotx3.svg" alt=""
                  /></a>
                </div>
                <img
                  src="../assets/images/ig_ken.png"
                  class="news-list-item-photo"
                  alt="..."
                />
                <div class="card-body pb-6">
                  <div class="d-flex justify-content-between mb-2">
                    <ul class="list-unstyled d-flex">
                      <li class="me-3">
                        <a href="#"
                          ><img src="../assets/images/ig-heart.svg" alt=""
                        /></a>
                      </li>
                      <li class="me-3">
                        <a href="#"
                          ><img src="../assets/images/ig-comment.svg" alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#"
                          ><img src="../assets/images/ig-share.svg" alt=""
                        /></a>
                      </li>
                    </ul>
                    <a href="#"
                      ><img src="../assets/images/ig-save.svg" alt=""
                    /></a>
                  </div>
                  <p class="mb-2">
                    <a class="text-white" href="#">999,999,999個讚</a>
                  </p>
                  <p class="mb-2">
                    Barbie芭比 ✨ You Ken, I can肯尼找頭路 ✨
                    阿姨，我不想努力了... 這種陋習通通砍掉砍掉🪓🪓
                    我支持男女性別平權，擺脫Barbie and
                    ken，你就是Ken，男性在職場一樣可以發光發熱...
                    <a class="text-gray" href="#">更多</a>
                  </p>
                  <p class="mb-3">
                    <a class="text-gray" href="#">查看全部 987,654 則留言</a>
                  </p>
                  <div class="d-flex mb-3">
                    <a href="#" class="reply-avatar d-flex">
                      <img
                        class="rounded-circle"
                        src="../assets/images/avatar_ken.png"
                        alt=""
                      />
                    </a>
                    <p class="ms-2">芭比不想養我了嗎？🥺</p>
                  </div>
                  <p>1分鐘前<a class="text-gray" href="#">・翻譯年糕</a></p>
                </div>
              </div>
            </li>
            <li class="news-list-item">
              <div class="card">
                <div class="card-header d-flex">
                  <a
                    href="#"
                    class="avatar-wrap d-flex justify-content-center align-items-center rounded-circle me-2"
                  >
                    <img
                      class="news-list-item-avatar rounded-circle"
                      src="../assets/images/avatar_barbie.png"
                      alt=""
                    />
                  </a>
                  <div class="me-auto">
                    <p class="fw-bold b4">
                      <a class="text-white" href="#">BarbieＱ芭比Ｑ・</a
                      >10月20日
                    </p>
                    <p class="b4">2023立委候選人</p>
                  </div>
                  <a href="#"
                    ><img class="" src="../assets/images/dotx3.svg" alt=""
                  /></a>
                </div>
                <img
                  src="../assets/images/ig_party.png"
                  class="news-list-item-photo"
                  alt="..."
                />
                <div class="card-body pb-6">
                  <div class="d-flex justify-content-between mb-2">
                    <ul class="list-unstyled d-flex">
                      <li class="me-3">
                        <a href="#"
                          ><img src="../assets/images/ig-heart.svg" alt=""
                        /></a>
                      </li>
                      <li class="me-3">
                        <a href="#"
                          ><img src="../assets/images/ig-comment.svg" alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#"
                          ><img src="../assets/images/ig-share.svg" alt=""
                        /></a>
                      </li>
                    </ul>
                    <a href="#"
                      ><img src="../assets/images/ig-save.svg" alt=""
                    /></a>
                  </div>
                  <p class="mb-2">
                    <a class="text-white" href="#">999,999,999個讚</a>
                  </p>
                  <p class="mb-2">
                    Barbie芭比 ✨今晚，阿嬤饋咖廣場舞 ✨
                    想擁有健美的芭比身材嗎？不管是大朋友小朋友，大家一起動起來，越跳越年輕，特別邀請人氣韓國女團(G)I-DL...
                    <a class="text-gray" href="#">更多</a>
                  </p>
                  <p class="mb-3">
                    <a class="text-gray" href="#">查看全部 987,654 則留言</a>
                  </p>
                  <div class="d-flex mb-3">
                    <a href="#" class="reply-avatar d-flex">
                      <img
                        class="rounded-circle"
                        src="../assets/images/avatar_ken.png"
                        alt=""
                      />
                    </a>
                    <p class="ms-2">芭比可以跟我跳支舞嗎？😍</p>
                  </div>
                  <p>2分鐘前<a class="text-gray" href="#">・翻譯年糕</a></p>
                </div>
              </div>
            </li>
            <li class="news-list-item">
              <div class="card">
                <div class="card-header d-flex">
                  <a
                    href="#"
                    class="avatar-wrap d-flex justify-content-center align-items-center rounded-circle me-2"
                  >
                    <img
                      class="news-list-item-avatar rounded-circle"
                      src="../assets/images/avatar_barbie.png"
                      alt=""
                    />
                  </a>
                  <div class="me-auto">
                    <p class="fw-bold b4">
                      <a class="text-white" href="#">BarbieＱ芭比Ｑ・</a
                      >10月20日
                    </p>
                    <p class="b4">2023立委候選人</p>
                  </div>
                  <a href="#"
                    ><img class="" src="../assets/images/dotx3.svg" alt=""
                  /></a>
                </div>
                <img
                  src="../assets/images/ig_shoe.png"
                  class="news-list-item-photo"
                  alt="..."
                />
                <div class="card-body pb-6">
                  <div class="d-flex justify-content-between mb-2">
                    <ul class="list-unstyled d-flex">
                      <li class="me-3">
                        <a href="#"
                          ><img src="../assets/images/ig-heart.svg" alt=""
                        /></a>
                      </li>
                      <li class="me-3">
                        <a href="#"
                          ><img src="../assets/images/ig-comment.svg" alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#"
                          ><img src="../assets/images/ig-share.svg" alt=""
                        /></a>
                      </li>
                    </ul>
                    <a href="#"
                      ><img src="../assets/images/ig-save.svg" alt=""
                    /></a>
                  </div>
                  <p class="mb-2">
                    <a class="text-white" href="#">999,999,999個讚</a>
                  </p>
                  <p class="mb-2">
                    Barbie芭比 ✨尋找平底鞋代言人 ✨
                    長時間穿著高跟鞋站立或是行走，可能產生肌肉骨骼的傷害，我推動平底鞋運動，只要穿著芭比粉及平底鞋即可參加選美大會，尋找最有自信的平底鞋代言人。...
                    <a class="text-gray" href="#">更多</a>
                  </p>
                  <p class="mb-3">
                    <a class="text-gray" href="#">查看全部 987,654 則留言</a>
                  </p>
                  <div class="d-flex mb-3">
                    <a href="#" class="reply-avatar d-flex">
                      <img
                        class="rounded-circle"
                        src="../assets/images/avatar_ken.png"
                        alt=""
                      />
                    </a>
                    <p class="ms-2">芭比穿平底鞋也好美❤️</p>
                  </div>
                  <p>2分鐘前<a class="text-gray" href="#">・翻譯年糕</a></p>
                </div>
              </div>
            </li>
          </ul>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary rounded-pill font-family-noto fw-medium ig-follow-btn text-white"
              >追蹤芭比Q</a
            >
          </div>
        </section>
        <!-- News End -->
      </div>
      <!-- Policy Start -->
      <!-- <section class="policy">
        <h1 class="policy-title"><span>Policy</span><span>政策建議</span></h1>
        <ul class="policy-list list-unstyled">
          <li class="policy-list-item position-relative">
            <h2
              class="policy-list-item-type w-100 d-flex justify-content-center position-absolute"
            >
              <img src="../assets/images/性別平權.png" alt="" />
            </h2>
            <ul class="policy-type-list list-unstyled d-flex">
              <li class="policy-type-list-item">
                <h3 class="policy-type-list-item-title">男性就業</h3>
                <p class="policy-type-list-item-content">
                  每年撥款新台幣 10
                  億元，為肯尼做職前訓練，並輔導就業。不再只是barbie and ken。
                </p>
              </li>
              <li class="policy-type-list-item">
                <h3 class="policy-type-list-item-title">男廁獨立</h3>
                <p class="policy-type-list-item-content">
                  每年撥款新台幣 20
                  億元，全面改建男性公共廁所，設置規定加裝大片隔板、門、鎖。
                </p>
              </li>
              <li class="policy-type-list-item">
                <h3 class="policy-type-list-item-title">男性服飾</h3>
                <p class="policy-type-list-item-content">
                  換裝遊戲不應該只是芭比的權力，每年撥款30
                  億元，全力扶植男性服裝設計師，設計肯尼服飾。
                </p>
              </li>
            </ul>
          </li>
          <li class="policy-list-item position-relative">
            <h2
              class="policy-list-item-type w-100 d-flex justify-content-center position-absolute"
            >
              <img src="../assets/images/身心健康.png" alt="" />
            </h2>
            <ul class="policy-type-list list-unstyled d-flex">
              <li class="policy-type-list-item">
                <h3 class="policy-type-list-item-title">醫療</h3>
                <p class="policy-type-list-item-content">
                  每年撥款新台幣 10
                  億元，給因長時間穿著高跟鞋產生生理傷害的芭比們，免費醫療服務。
                </p>
              </li>
              <li class="policy-type-list-item">
                <h3 class="policy-type-list-item-title">健康</h3>
                <p class="policy-type-list-item-content">
                  每年撥款新台幣 20
                  億元，在全台所有便利商店、捷運站裡廣設健身房，想健身就健身。
                </p>
              </li>
              <li class="policy-type-list-item">
                <h3 class="policy-type-list-item-title">訓練</h3>
                <p class="policy-type-list-item-content">
                  每年撥款新台幣 30
                  億元，針對bmi超標的民眾可以申請免費健身教練，回復健康身材。
                </p>
              </li>
            </ul>
          </li>
          <li class="policy-list-item position-relative">
            <h2
              class="policy-list-item-type w-100 d-flex justify-content-center position-absolute"
            >
              <img src="../assets/images/觀光推廣.png" alt="" />
            </h2>
            <ul class="policy-type-list list-unstyled d-flex">
              <li class="policy-type-list-item">
                <h3 class="policy-type-list-item-title">觀光巴士</h3>
                <p class="policy-type-list-item-content">
                  設置免費觀光巴士，將國內旅遊與芭比文化做結合，打造最佳的打卡聖地與美食之旅。
                </p>
              </li>
              <li class="policy-type-list-item">
                <h3 class="policy-type-list-item-title">演唱會</h3>
                <p class="policy-type-list-item-content">
                  邀請世界級女團blackpink每月在台灣固定開演唱會，增進外國歌迷促進觀光消費。
                </p>
              </li>
              <li class="policy-type-list-item">
                <h3 class="policy-type-list-item-title">遊樂園</h3>
                <p class="policy-type-list-item-content">
                  撥款新台幣 100
                  億元，設置全球最大芭比夢幻遊樂園，吸引外國遊客，發揚芭比文化。
                </p>
              </li>
            </ul>
          </li>
        </ul>
      </section> -->
      <!-- Policy End -->
      <div class="container">
        <!-- Donate Start -->
        <!-- <section class="donate">
          <h1 class="donate-title"></h1>
          <p class="donate-description"></p>
          <div class="donate-current-status">
            <p class="donate-current-status-text"></p>
            <p class="donate-current-status-total"></p>
          </div>
          <ul class="donate-list list-unstyled">
            <li class="donate-list-item">
              <h4 class="donate-list-item-type d-flex justify-content-center">
                <img src="../assets/images/好健康.png" alt="" />
              </h4>
              <div class="donate-list-item-body d-flex">
                <div class="donate-list-item-photo">
                  <img src="../assets/images/donate_shoe 1.png" alt="" />
                </div>
                <div class="donate-list-item-content">
                  <h3 class="donate-list-item-name"></h3>
                  <p class="donate-list-item-price"><span>NT$</span>6,000</p>
                  <p class="donate-list-item-already">
                    <span>234,567</span>人已贊助
                  </p>
                </div>
              </div>
              <a href="#" class="btn btn-primary rounded-pill text-white"
                >抖內去</a
              >
            </li>
          </ul>
        </section> -->
        <!-- Donate End -->
      </div>
      <!-- FeedBack Start -->
      <!-- <section class="feedback position-relative">
        <h1 class="feedback-title"><span>Mail</span><span>服務信箱</span></h1>
        <div class="feedback-group container">
          <h3>芭比Q聽你的</h3>
          <form class="feedback-group-form">
            <div class="mb-3">
              <label for="exampleInputName1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputName1"
                aria-describedby="nameHelp"
              />
              <div id="nameHelp" class="form-text">
                We'll never share your name with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="inputTel" class="form-label">Password</label>
              <input type="tel" class="form-control" id="inputTel" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label"
                >Example textarea</label
              >
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
            </div>
            <button
              type="submit"
              class="btn btn-primary rounded-pill w-100 text-white"
            >
              送出
            </button>
          </form>
        </div>
        <div class="mailbox position-absolute">
          <img src="../assets/images/mailbox.png" alt="" />
        </div>
      </section> -->
      <!-- FeedBack End -->
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
